{% extends "base.html" %}

{% block content %}

<section class="show-page-grid">
    <div>
        <ul>
            <li><b>Name:</b> {{ round.track_name }}</li>
            <li><b>Track Location:</b> {{round.track_location}}</li>
            <li><b>Date:</b> {{round.date}}</li>
            <li><b>Image URL:</b> {{round.image_url}}</li>  
        </ul>
        <br>
        <a href="{{round.id}}/edit">Edit round</a>
        <a href="{{round.id}}/delete">Delete round</a>
        <a href="{{round.id}}/results">Round results</a>
    </div>
    <img class="show-grid-image" src="{{ round.image_url }}" alt="{{ round.name }}">
</section>


{% endblock %}