.driver-image {
    width: 200px;
    border-radius: 50%;
}

.drivers-list {
    display: grid;
    grid-template-columns: repeat(4, fit-content(20%));
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
    list-style-type: none;
    grid-gap: 10px;
}

.drivers-list > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drivers-list > li > a > span {
    margin-top: 10px;
}

.show-page-grid {
    display: grid;
    grid-template-columns: fit-content(40%) fit-content(40%);
    justify-content: space-evenly;
}

.show-grid-image {
    width: 300px;
}