@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins&display=swap');

@font-face {
    font-family: "Formula1-Regular";
    src: url("/static/fonts/Formula1-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Formula1-Bold";
    src: url("/static/fonts/Formula1-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Formula1-Wide";
    src: url("/static/fonts/Formula1-Wide.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.add-new {
    font-family: "Formula1-Bold" !important;
    color: #e00600 !important;
}

.front-page-list {
    margin-left: 30px;
}

a:link {
    text-decoration: none;
    color: #15141D;
    font-family: "Formula1-Regular";
}

a:visited {
    color: #4F6D7A;
}

a:hover {
    color: #7D5BA6;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding:15px;
    font-family: "Formula1-Regular";
    background-color: #15141D;
}


header > h1, footer {
    color: #F2F1ED;
    /* text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; */
    font-family: "Formula1-Bold";
}

h2, h3 {
    font-family: "Formula1-Bold";
}

#header-menu > ul {
    display: flex;
    flex-direction: row;
}

#header-menu > ul > li {
    background-color: #222527;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#header-menu > ul > li > a {
    color: #F2F1ED;
    text-decoration: none;
    transition: 1s;
}

#header-menu > ul > li:hover {
    background-color: #e00600;
    transition: 0.3s;
}

main {
    padding: 15px;
    font-family: "Poppins";
}

.championship-results {
    display: flex;
    margin-top: 15px;
    justify-content: space-around; 
}

.team-championship, .driver-championship {
    display: flex;
    justify-content: center;
}

.team-championship > ol, .driver-championship > ol {
    display: grid;
    grid-template-columns: fit-content(40%) fit-content(40%);
    grid-auto-rows: 90px;
    justify-items: center;
    align-items: start; 
}

.team-championship > ol > li:nth-child(2n), .driver-championship > ol > li:nth-child(2n) {
    align-self: end;
}


.team-championship > ol > li, .driver-championship > ol > li, .team-championship-front-page > ol > li, .driver-championship-front-page > ol > li {
    display: flex;
    justify-content: center;
    color:#F2F1ED;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    padding: 5px;
    margin: 5px 5px 5px 0;
    border-radius: 8px;
    width: 325px;
    border: 1px solid;
    border-color: black;
    animation-name: animateIn;
    animation-duration: 350ms;
}

.driver-championship > ol {
    counter-reset: driver_champ_order;
}

.driver-championship > ol > li::before {
    counter-increment: driver_champ_order;                   /* Increment the value of section counter by 1 */
    content: counter(driver_champ_order) " : "; 
}

.team-championship > ol {
    counter-reset: team_champ_order;
}

.team-championship > ol > li::before {
    counter-increment: team_champ_order;                   /* Increment the value of section counter by 1 */
    content: counter(team_champ_order) " : "; 
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }


  th, td {
    padding: 15px;
  }

  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-50px);
    }
    
    100% {
      opacity: 1;
    }
  }

.team-championship-front-page > ol > li:nth-child(1), .driver-championship-front-page > ol > li:nth-child(1) {
    animation-delay: 100ms;
}

/* .team-championship-front-page > ol > li:nth-child(2), .driver-championship-front-page > ol > li:nth-child(2) {
    animation-delay: 200ms;
}

.team-championship-front-page > ol > li:nth-child(3), .driver-championship-front-page > ol > li:nth-child(3) {
    animation-delay: 300ms;
} */

.team-championship > ol > li:nth-child(1), .driver-championship > ol > li:nth-child(1) {
    animation-delay: 50ms;
}

.team-championship > ol > li:nth-child(2), .driver-championship > ol > li:nth-child(2) {
    animation-delay: 100ms;
}

.team-championship > ol > li:nth-child(3), .driver-championship > ol > li:nth-child(3) {
    animation-delay: 150ms;
}

.team-championship > ol > li:nth-child(4), .driver-championship > ol > li:nth-child(4) {
    animation-delay: 200ms;
}

.team-championship > ol > li:nth-child(5), .driver-championship > ol > li:nth-child(5) {
    animation-delay: 250ms;
}

.team-championship > ol > li:nth-child(6), .driver-championship > ol > li:nth-child(6) {
    animation-delay: 300ms;
}

.team-championship > ol > li:nth-child(7), .driver-championship > ol > li:nth-child(7) {
    animation-delay: 350ms;
}

.team-championship > ol > li:nth-child(8), .driver-championship > ol > li:nth-child(8) {
    animation-delay: 400ms;
}

.team-championship > ol > li:nth-child(9), .driver-championship > ol > li:nth-child(9) {
    animation-delay: 450ms;
}

.team-championship > ol > li:nth-child(10), .driver-championship > ol > li:nth-child(10) {
    animation-delay: 500ms;
}

.team-championship > ol > li:nth-child(11), .driver-championship > ol > li:nth-child(11) {
    animation-delay: 550ms;
}

.team-championship > ol > li:nth-child(12), .driver-championship > ol > li:nth-child(12) {
    animation-delay: 600ms;
}

.team-championship > ol > li:nth-child(13), .driver-championship > ol > li:nth-child(13) {
    animation-delay: 650ms;
}

.team-championship > ol > li:nth-child(14), .driver-championship > ol > li:nth-child(14) {
    animation-delay: 700ms;
}

.team-championship > ol > li:nth-child(15), .driver-championship > ol > li:nth-child(15) {
    animation-delay: 750ms;
}

.team-championship > ol > li:nth-child(16), .driver-championship > ol > li:nth-child(16) {
    animation-delay: 800ms;
}

.team-championship > ol > li:nth-child(17), .driver-championship > ol > li:nth-child(17) {
    animation-delay: 850ms;
}

.team-championship > ol > li:nth-child(19), .driver-championship > ol > li:nth-child(19) {
    animation-delay: 900ms;
}

.team-championship > ol > li:nth-child(20), .driver-championship > ol > li:nth-child(20) {
    animation-delay: 950ms;
}
