@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins&display=swap');

@font-face {
    font-family: "Formula1-Regular";
    src: url("/static/fonts/Formula1-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Formula1-Bold";
    src: url("/static/fonts/Formula1-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Formula1-Wide";
    src: url("/static/fonts/Formula1-Wide.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:link {
    /* text-decoration: none; */
    color: #15141D;
}

a:visited {
    color: #4F6D7A;
}

a:hover {
    color: #7D5BA6;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding:15px;
    font-family: "Formula1-Regular";
    background-color: #15141D;
}


header > h1, footer {
    color: #F2F1ED;
    /* text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; */
    font-family: "Formula1-Bold";
}

h2, h3 {
    font-family: "Formula1-Bold";
}

#header-menu > ul {
    display: flex;
    flex-direction: row;
}

#header-menu > ul > li {
    background-color: #222527;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#header-menu > ul > li > a {
    color: #F2F1ED;
    text-decoration: none;
    transition: 1s;
}

#header-menu > ul > li:hover {
    background-color: #e00600;
    transition: 0.3s;
}

main {
    padding: 15px;
    font-family: "Poppins";
}

.championship-results {
    display: flex;
    margin-top: 15px;
    justify-content: space-around; 
}

.team-championship, .driver-championship {
    display: flex;
    justify-content: center;
}

.team-championship > ol, .driver-championship > ol {
    display: grid;
    grid-template-columns: fit-content(40%) fit-content(40%);
    grid-auto-rows: 90px;
    justify-items: center;
    align-items: start; 
}

.team-championship > ol > li:nth-child(2n), .driver-championship > ol > li:nth-child(2n) {
    align-self: end;
}


.team-championship > ol > li, .driver-championship > ol > li, .team-championship-front-page > ol > li, .driver-championship-front-page > ol > li {
    display: flex;
    justify-content: center;
    color:#F2F1ED;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    padding: 5px;
    margin: 5px 5px 5px 0;
    border-radius: 8px;
    width: 325px;
    border: 1px solid;
    border-color: black;   
                   /* Increment the value of section counter by 1 */ 
    /* font-family: "Formula1-Regular";
    font-size: 0.9em; */
}

.driver-championship > ol {
    counter-reset: driver_champ_order;
}

.driver-championship > ol > li::before {
    counter-increment: driver_champ_order;                   /* Increment the value of section counter by 1 */
    content: counter(driver_champ_order) " : "; 
}

.team-championship > ol {
    counter-reset: team_champ_order;
}

.team-championship > ol > li::before {
    counter-increment: team_champ_order;                   /* Increment the value of section counter by 1 */
    content: counter(team_champ_order) " : "; 
}
