
.teams-list {
    display: grid;
    grid-template-columns: repeat(2, fit-content(40%));
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
    list-style-type: none;
    grid-gap: 10px;
}

.teams-list >li {
    padding: 8px;
    /* border-radius: 12px; */
    text-align: center;
    border: 1px solid black;
}

.team-image {
    width: 250px;
    height: 140px;
    object-fit: contain;
    align-self: center;
    display:block;
}