{% extends "base.html" %}

{% block content %}
    <h2>2021 Drivers</h2>
    <br>
    <a href="/drivers/new">Add new driver</a>
<section class="driver">
    <ul class="drivers-list">
        {% for driver in drivers %}
            <li>
                <a href="/drivers/{{ driver.id }}">
                <img class="driver-image" src="{{ driver.picture_url}}" alt="{{ driver.name }} image">
                <span>{{ driver.name }}</span></a>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}