{% extends "base.html" %}

{% block content %}
<h2>Driver lineup</h2>
<section class="driver">
    <ul class="drivers-list">
        {% for driver in drivers %}
            <li>
                <a href="/drivers/{{ driver.id }}">
                <img src="{{ driver.picture_url}}" alt="{{ driver.name }} image">
                <br>
                {{ driver.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/drivers/new">Add new driver</a>
</section>

{% endblock %}