{% extends "base.html" %}

{% block content %}

<section>
    <ul>
        <li><b>Name:</b> {{ driver.name }}</li>
        <li><b>Nationality:</b> {{driver.nationality}}</li>

        
            <li><b>Team(s):</b> {% for team in teams %} {{team.name}} </li>
        {% endfor %}

        <li><b>Car Number:</b> {{driver.car_number}}</li>
        <li><b>Championship points:</b> {{driver.championship_points}}</li>
        <a href="{{driver.id}}/edit">Edit driver</a>
        <a href="{{driver.id}}/delete">Delete driver</a>
        <a href="{{driver.id}}/results">Driver results</a>
    </ul>
</section>


{% endblock %}