{% extends "base.html" %}

{% block content %}

<h2>Formula 1 Results App</h2>
<br>
<section>
    <p>This app is for keeping track of both the team and driver Formula One world championships. Points for both the driver and team standings are automatically calculated.</p>
    <br>
    <ul class="front-page-list">
        <li>
            <p>-The top three for each championship is shown below, click through to see the full standings.</p>
        </li>
        <li>
            <p>-You can view a driver's profiles and results by clicking the Drivers button on the top navigation bar.</p>
        </li>
        <li>
            <p>-To view and edit team information, click the Teams button.</p>
        </li>
        <li>
            <p>-To view and edit the rounds on the F1 calendar, or view the results for a specific track, click the Rounds button.</p>
        </li>
        <li>
            <p>-To add results for a round, click the Add Race Results button. Be careful to make sure you only enter a driver once in the results.</p>
        </li>
    </ul>
</section>
<br>
<section class="championship-results">
    <div class="driver-championship-front-page">
        <h3>Driver Championship</h3>
        <ol>
            {% for driver in driver_championship %}
            <li style="background-color:{{driver.teams[0].team_colour}};">{{ driver.name }} - {{ driver.championship_points }} points</li>
            {% endfor %}
        </ol>
        <a href="/driver_standings">Show full driver standings</a>
    </div>
    <div class="team-championship-front-page">
        <h3>Team Championship</h3>
        <ol>
            {% for team in team_championship %}
            <li style="background-color:{{team.team_colour}};">{{ team.name }} - {{ team.championship_points }} points</li>
            {% endfor %}
        </ol>
        <a href="/team_standings">Show full team standings</a>
    </div>
</section>

{% endblock %}