{% extends "base.html" %}

{% block content %}

<h2>Formula 1 Results App</h2>
<section>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, accusantium perspiciatis tempora optio recusandae excepturi mollitia ad similique dicta repellat voluptatum, officia a veniam labore facere tenetur libero totam. Harum?</p>
    <p>Voluptatem, dolor sapiente necessitatibus ad, et tempora consequuntur quibusdam nulla non expedita, nemo quod aliquid cumque cupiditate velit animi debitis sunt dicta odio minus deserunt nobis labore. Harum, quos dolores.</p>
    <p>Ex, recusandae! Omnis maxime quia, perferendis aliquam voluptatum fugiat harum incidunt doloribus delectus reprehenderit nam, non illo accusamus odio natus dolor quisquam velit? Voluptate totam, dolores iste in tenetur tempore.</p>
</section>
<section class="championship-results">
    <div class="driver-championship">
        <h3>Driver Championship</h3>
        <ol>
            {% for driver in driver_championship %}
            <li style="background-color:{{driver.teams[0].team_colour}};">{{ driver.name }} - {{ driver.championship_points }} points</li>
            {% endfor %}
        </ol>
        <a href="/driver_standings">Show full driver standings</a>
    </div>
    <div class="team-championship">
        <h3>Team Championship</h3>
        <ol>
            {% for team in team_championship %}
            <li style="background-color:{{team.team_colour}};">{{ team.name }} - {{ team.championship_points }} points</li>
            {% endfor %}
        </ol>
        <a href="/team_standings">Show full team standings</a>
    </div>
</section>

{% endblock %}